* { box-sizing: border-box; }



.head {
  border-radius: 10em;
  height: 375px;
  width: 275px;
  background-color: orange;
  border: thin;
  position: relative;
  left: 750px;
  top: 260px;
  z-index: 1;
}
#hat {
  border-radius: 10em;
  height: 50px;
  width: 350px;
  background-color: brown;
  border: thin;
  position: relative;
  left: 713px;
  top: 335px;
  z-index: 2;
}
#top-hat-1{
  border-top-left-radius: 10em;
  height: 50px;
  width: 125px;
  background-color: black;
  border: thin;
  position: relative;
  left: 50px;
  top: -50px;
}
#top-hat-2{
  border-top-right-radius: 10em;
  height: 50px;
  width: 115px;
  background-color: black;
  border: thin;
  position: relative;
  left: 125px;
  top: 0px;
}
.ear{
  border-radius: 10em;
  height: 80px;
  width: 40px;
  background-color: orange;
  border: thin;
  z-index: 1;
}
#right-ear{
  position: relative;
  left: 725px;
  top: 0px;
}
#left-ear{
  position: relative;
  left: 1010px;
  top: -72px;
}
.eye{
  border-radius: 10em;
  height: 70px;
  width: 70px;
  background-color: white;
  border: thin;
  z-index: 3;
}
#right-eye{
  position: relative;
  left: 790px;
  top: -145px;
}
#left-eye{
  position: relative;
  left: 912px;
  top: -215px;
}
#pupil1{
  border-radius: 10em;
  height: 32px;
  width: 32px;
  background-color: black;
  border: thin;
  position: relative;
  left: 20px;
  top: 20px;
  z-index: 4;
}
#pupil2{
  border-radius: 10em;
  height: 32px;
  width: 32px;
  background-color: black;
  border: thin;
  position: relative;
  left: 20px;
  top: 20px;
  z-index: 4;
}
#nouse{
  
}
